@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
}
::-webkit-scrollbar {
  display: none;
}
