.ads {
  border: 2px green solid;
  height: 10%;
}

button {
  font-size: 15px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100vw;
}

.content {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;

  text-align: justify;
}

h3 {
  font-size: 2rem;
}

.image-card {
  /* background-color: blue; */

  overflow: hidden;
  width: 100%;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.mobile-ad {
  background-color: #eee;
  height: 50px;
  padding-bottom: 3px;
  padding-top: 3px;
  width: 100%;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 701px) {
  .buttons {
    height: 10%;
    width: 100%;
  }

  .card-title {
    height: 11.1%;
  }

  .container {
    height: 100%;
  }

  .content {
    height: 90%;
    width: 94%;
  }

  div {
    float: left;
  }

  .down-right {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 70%;
  }

  .right-ad {
    background-color: #eee;
    flex-shrink: 0;
    height: 100%;
    width: 310px;
  }

  .down-right-content {
    flex: auto;
    height: 90%;
  }

  .image-card {
    height: 100%;
  }

  .mobile-ad {
    display: none;
  }

  .text {
    font-size: 1.2vw;
    height: 21%;
  }

  .top-left {
    height: 100%;
    width: 30%;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 700px) {
  html,
  body {
    min-height: -webkit-fill-available;
  }

  .buttons {
    padding-bottom: 7px;
    padding-top: 7px;
  }

  .card-title {
    height: 7vh;
  }

  .container {
    height: 100%;
  }

  .content {
    height: 40vh;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 5px;
  }

  .down-right {
    display: block;
    height: 65vh;
  }

  .right-ad {
    display: none;
  }

  .down-right-content {
    height: 65vh;
  }

  .image-card {
    height: 34vh;
  }
  .text {
    font-size: 5vw;
    height: 41%;
  }

  .top-left {
    height: 35vh;
  }
}

@media screen and (max-width: 376px) and (max-height: 815px) {
  .content {
    height: 25vh;
  }
}
